{% extends 'question/base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 border-bottom">
          <span class="mr-2">{{ headline }}</span>
          <a href="{% url 'hot' %}" class="ml-auto">Hot questions</a>
      </h3>

      {% for q in page %}

            {% include 'question/one_question.html' with question=q tags=tags %}

      {% endfor %}


        <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
           {% if page.has_previous %}
               <li class="page-item"><a class="page-link" href="{% url paginate %}?p={{ page.previous_page_number }}">Previous</a></li>
           {% endif %}

           <li class="page-item"><a class="page-link" href="">{{ page.number }}</a></li>

           {% if page.has_next %}
               <li class="page-item"><a class="page-link" href="{% url paginate %}?p={{ page.next_page_number }}">Next</a></li>
           {% endif %}      </ul>
        </nav>

    </div>

{% endblock %}