{% extends 'question/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="col-md-8 blog-main">

        <form action="#" class="needs-validation" novalidate>
            <h3 class="pb-4 mb-4 border-bottom">
                New Question
            </h3>

            <div class="mb-4 form-group form-inline justify-content-between">
                <label for="login">Login</label>
                <input type="text" class="form-control w-75" id="login" placeholder="Login" maxlength="128" required="">
                <div class="invalid-feedback">
                    Please enter login
                </div>
            </div>

            <div class="mb-4 form-group form-inline justify-content-between">
                <label for="pas">Password</label>
                <input type="password" class="form-control w-75" id="pas" placeholder="Password" maxlength="128" required="">
                <div class="invalid-feedback">
                    Please enter password
                </div>
            </div>

          <button type="submit" class="btn btn-outline-success">Login</button>

        </form>

    </div>

    <script type="text/javascript" src="{% static 'question/invalid.js' %}"></script>

{% endblock %}