{% load static %}

{% block one_question %}
      <div class="blog-post mb-5 bg-light">
          <div class="post-cont w-auto mr-3 avatar">
              <img class="usual_avatar" src="{% static 'avatars/avatar.png' %}"/>
              <br>
              <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-sm btn-outline-dark">L</button>
                  <b>5k</b>
                  <button type="button" class="btn btn-sm btn-outline-dark">D</button>
              </div>
          </div>


          <!-- Изменить верстку. Сделать все по колонкам  -->
          <div class="post-cont w-75 mb-3">
              <h2 class="blog-post-title">Question №1</h2>
              <h5>by <a href="#">Chris</a></h5>
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
              How to do How to do How to do How to do How to do How to do How to do
          </div>

          <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">December 14, 2013</span>
              <a href="{% url 'question' %}">Answer (<b class="likes">5</b>)</a>
              <span class="text-muted">tags: <a href="#">KnowHow</a></span>

          </div>
        </div>
{% endblock %}