{% extends 'question/base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-8 blog-main">

    <!--TODO вопрос в отдльный шаблон -->

      <div class="blog-post mb-5 bg-info border-bottom">

          {% include 'question/topic_in_question.html' with question=res %}

        <hr>



        <hr>

        <form action="#" class="needs-validation mb-5" novalidate>

            <div class="mb-4">
                <textarea class="form-control" rows="8" id="q_body" placeholder="Enter your answer" maxlength="10000" required=""></textarea>
                <div class="invalid-feedback">
                    You didn`t answered anything
                </div>
            </div>

            <button type="submit" class="btn btn-outline-success">Answer</button>

        </form>

    </div>

    <script type="text/javascript" src="{% static 'question/invalid.js' %}"></script>


{% endblock %}