{% load static %}

        <div class="post-cont w-auto mr-3 avatar">
              <img class="top_avatar" src="{% static 'avatars/avatar.png' %}"/>
              <br>
              <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-sm btn-outline-dark">L</button>
                  <b>5k</b>
                  <button type="button" class="btn btn-sm btn-outline-dark">D</button>
              </div>
          </div>

          <div class="post-cont w-75 mb-3">
              <h2 class="blog-post-title"> {{ question.head }} </h2>
              <h5>by <a href="#">Chris</a></h5>
              {{ question.body }}
          </div>

          <div class="d-flex w-100 justify-content-between align-items-center">
              <span class="text-muted">{{ question.date }}</span>
              <span class="text-muted">tags: <a href="#">KnowHow</a></span>

          </div>
        </div>