
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.user_corner img {
    height: 40px;
    width: auto;
    border: solid white 1px;
    border-radius: 10%;
}

.row {
    margin-top: 100px;
}

nav {
    color: white;
}

.blog-main a {
    font-size: 65%;
}

.blog-post a {
    font-size: 16px;
}

.blog-post {
    padding: 15px;
    border-radius: 15px;
}

.blog-post img {
    border-radius: 10%;
}

.post-cont {
    display:inline-block;
}

.avatar {
    float: left;
}

.top_avatar {
    height: 120px;
    width: auto;
}

.usual_avatar {
    height: 105px;
    width: auto;
}

.ans_avatar {
    height: 90px;
    width: auto;
}

.paginator, .page-item, .page-link {
    font-size: 25px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.no-border {
    border: 0;
    box-shadow: none;
}